<%- include("templates/header") %>

<h1>Create New Group</h1>

<form action="/creatinggroup" method="post">
    <div>
        <label for="name">Group Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    
    <!-- List of users with checkboxes -->
    <div>
        <label>Select users to add to the group:</label>
        <% users.forEach(user => { %>
            <div>
                <input type="checkbox" id="<%= user.user_id %>" name="selectedUsers" value="<%= user.user_id %>">
                <label for="<%= user.user_id %>"><%= user.username %></label>
            </div>
        <% }); %>
    </div>

    <button type="submit">Create Group</button>
</form>

<%- include("templates/footer") %>
